POSTGRES_DB=kinchat
POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_passwd

SPRING_DATASOURCE_URL=jdbc:postgresql://kinchat-db:5432/kinchat
SPRING_DATASOURCE_USERNAME=dev_user
SPRING_DATASOURCE_PASSWORD=dev_passwd

APP_AUTH_SECRET=change-me-to-a-long-random-secret-with-at-least-32-bytes

APP_MINIO_LOGIN=minioadmin
APP_MINIO_PASSWORD=minioadmin
APP_MINIO_API_URL=http://minio:9000
APP_MINIO_AVATARS_BUCKET=kinchat-avatars
APP_MINIO_AVATARS_PUBLIC_URL_PREFIX=http://minio:9000/messenger-avatars/
APP_MINIO_MESSAGE_FILES_BUCKET=kinchat-message-files
APP_MINIO_MESSAGE_FILES_PUBLIC_URL_PREFIX=http://minio:9000/messenger-message-files/
